body{
    background-image:url("../images/fond1.gif");
    background-repeat: no-repeat; 
    background-position: center center;
    background-size: cover;
    height: 100vh;
    margin: 0;
    font-family: 'Nuku Nuku',sans-serif;
}

@font-face {
    font-family: 'Nuku Nuku';
    src: url("../font/nuku-nuku.regular.ttf") format('truetype');
}

header .wrapper{
    position: absolute;
    top: 2%;
    left: 2%;
}

.content{
    background-color: rgba(0, 0, 0, 0.45);
    position: relative;
    border-radius:30px;
    top: 30vh;
    left: 33vw;
    height: 22vh;
    width: 30%;
    text-align: center;
    
}
.content p {
    font-size: 6vw;

  }

.content button{
    font-family: 'Nuku Nuku',sans-serif;
    border-radius: 15px;
    position: absolute;
    background-color: rgb(216, 203, 203);
    font-size: 2vw;
    margin-right: 10px;
}

.content #start{
    margin-right: 10px;
    top: 65%;
    left: 6.5%;
}

.content #Stop{
    top: 65%;
    left: 37.5%;
}

.content #restart{
    top: 65%;
    left: 65%;
}

footer{
    position: absolute;
    bottom: 2%;
    right: 1%;
    color: rgb(0, 0, 0);
}


