html, body {
    margin: 0;              /* Supprime les marges par défaut */
    padding: 0;             /* Supprime les marges internes */
    overflow-x: hidden;
    overflow-y: auto;     /* Empêche le défilement */
    height: 100%;           /* Force la hauteur à occuper tout l'écran */
}


body{
    background-image:url("../images/fond1.gif");
    background-repeat: no-repeat; 
    background-position: center center;
    background-size: cover;
    height: 100vh;
    margin: 0;
    font-family: 'Nuku Nuku',sans-serif;
}

@font-face {
    font-family: 'Nuku Nuku';
    src: url("../font/nuku-nuku.regular.ttf") format('truetype');
}

header .wrapper{
    position: absolute;
    top: 0.2vh;
    left: 0.8vw;
}

.content{
    background-color: rgba(0, 0, 0, 0.45);
    position: relative;
    border-radius:2vw;
    top: 22vh;
    left: 33vw;
    height: 34vh;
    width: 30vw;
    text-align: center;
    
}

.musique{
    position: relative;
    background-color: #00000000;
    width: 100%;
    height: auto;
}

.content p {
    font-size: 6vw;
    position: relative;
    top: 30%;

  }

.content button{
    font-family: 'Nuku Nuku',sans-serif;
    border-radius: 1vw;
    position: absolute;
    background-color: rgb(216, 203, 203);
    font-size: 2vw;
    margin-right: 10px;
    border-width: 0.2vw;
}

.content #start{
    margin-right: 10px;
    top: 25.5vh;
    left: 2.2vw;
}

.content #Stop{
    top:  25.5vh;
    left: 11.4vw;
}

.content #restart{
    top:  25.5vh;
    left:19.7vw;
}

footer{
    position: absolute;
    bottom: 2%;
    right: 1%;
    color: rgb(0, 0, 0);
}

#music-player {
    display: none;
}

.musique button{
    font-family: 'Nuku Nuku',sans-serif;
    border-radius: 1vw;
    background-color: rgba(255, 255, 255, 0.712);
    font-size: 2vw;
    margin-right: 10px;
    position: absolute;
    margin-left: 1vw;
    margin-right: 1vw;
    
}

.musique .start_musique{
    top: 3%;
    right: 22%;
}
.musique .pause_musique{
    top: 3%;
    right: 12%;
}
.musique .next_musique{
    top: 3%;
    right: 2%;
}

.musique img{
    height: auto;
    width: 20%;
    position: absolute;
    border-width: 0px;
    top: 1.5vh;
    border-radius: 1vw;
    left: 1vw;
}
.musique #duree{
    font-size: 2.5vw;
    position: absolute;
    left: 8.5vw;
    top: -50%;
    color: aliceblue;

}
.musique .scrolling-text-container {
    
    width: 12vw;
    height: auto;
    overflow: hidden;
    background-color: #00000000;
    position: absolute;
    left: 7vw;
    top: 1.5vh;
}

.musique .scrolling-text {
    left: 1vw;
    position: absolute;
    color: #ffffff;
    animation: scrollText 30s linear infinite;
    white-space: nowrap;
    transform: translateX(0);
}
@keyframes scrollText {
    0% {
        transform: translateX(0); /* Débute visible */
        font-size:1.5vw;
    }
    10% {
        transform: translateX(0); /* Reste visible pendant 2 secondes */
        font-size:1.5vw;
    }
    50% {
        transform: translateX(-100%); /* Défile vers la gauche */
        font-size:1.5vw;
    }
    100% {
        transform: translateX(-100%); /* Reviens à la position de départ */
        font-size:1.5vw;
    }
    100% {
        transform: translateX(0); /* Reviens à la position de départ */
        font-size:1.5vw;
    }
}

